body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
.jeda{margin:10px 0;clear:both}.table tr:hover{background:#fef}.table a.btn{padding:2px 6px;font-size:10px;}input[type="text"]{display: block;width: 85%;box-shadow: 0 0 4px #eee inset;-o-box-shadow: 0 0 4px #eee inset;-moz-box-shadow: 0 0 4px #eee inset;-webkit-box-shadow: 0 0 4px #eee inset;outline: 1px solid transparent;border: 1px solid #ccc;border-radius: 5px;-o-border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;padding: 5px;color: #444;font-size: 14px;}